:root{
    --radius-card: 0.5rem;
    --radius-button: 0.25rem;
    --radius-field: 0.25rem;

    --spacing-1: 0.25rem;
    --spacing-2: 0.5rem;
    --spacing-3: 0.75rem;
    --spacing-4: 1rem;
    --spacing-5: 1.5rem;
    --spacing-6: 2rem;
    --spacing-7: 3rem;

    --primary-color: rgb(157, 73, 236);
    --secondary-color: rgb(207, 166, 245);
    --errors-color: rgb(255, 0, 0);

    --button-shadow: 0 2px 10px hsla(283, 82%, 42%, 0.25);

    --gradient-active-button: linear-gradient( 
    to bottom, 
        var(--secondary-color) 0%, 
        rgb(182, 115, 245) 90%, 
        var(--primary-color) 100%
    );
    --gradient-pressed-button: linear-gradient(
        to top,
        var(--secondary-color) 0%, 
        rgb(182, 115, 245) 90%, 
        var(--primary-color) 100%
    );
    --gradient-disabled-button: linear-gradient(
        to bottom,
        var(--secondary-color),
        var(--secondary-color),
        var(--secondary-color)
    );

    --gradient-header: 
    linear-gradient(330deg,var(--secondary-color) 0%, rgb(186, 112, 255) 53%, var(--primary-color) 100%);

    --font-weight-medium: 500;
    --font-weight-semibold: 600;
}

header{
    background: var(--gradient-header);
}

.logo{
    display: flex;
    align-items: center;
    gap: var(--spacing-1);
    color: white;
}

.logo h1{
    margin: 0;
}

body{
    background-image: url(assets/images/background-image.jpg);
    font-family: "Poppins", sans-serif;
}

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: auto;
}

.login-card{
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: var(--spacing-6);
    gap: var(--spacing-4);
    border-radius: 0 0 var(--radius-card) var(--radius-card);
}

.credentials{
    display: flex;
    flex-direction: column;
    gap: var(--spacing-4);
}

.form-header{
    background-color: var(--primary-color);
    margin: 0;
    padding: var(--spacing-4);
    border-radius: var(--radius-card) var(--radius-card) 0 0;
    text-align: center;
    color: white;
}

.field-control{
    display: flex;
    position: relative;
    flex-direction: column;
    gap: var(--spacing-1);
}

.input-wrapper{
    position: relative;
    display: flex;
    flex-direction: row;
}

.input-symbol{
    padding: var(--spacing-2) var(--spacing-1);
    background-color: rgb(207, 166, 245);
    border-radius: var(--radius-field) 0 0 var(--radius-field);
    text-align: center;
}

.field{
    border: 1px solid lightgray;
    padding: var(--spacing-2);
    border-radius: 0 var(--radius-field) var(--radius-field) 0;
    font-weight: var(--font-weight-semibold);
    width: 100%;
    box-sizing: border-box;
    padding-right: 36px;
}

.field:focus-visible{
    outline: none;
    border: 1px solid var(--secondary-color);
}

.validate-border{
    border: 1px solid var(--errors-color);
}

.validation-message{
    color: var(--errors-color);
    font-size: 0.65rem;
    text-align: right;
    font-style: italic;
    margin: 0;
}

.error-icon{
    position: absolute;
    height: 20px;
    width: 20px;
    left: 90%;
    top: 50%;
    transform: translateY(-50%);
    padding: 0;
    margin: 0;
    display: none;
}

.forwarding a{
    text-decoration: none;
    color: var(--primary-color);
}

.forwarding a:hover{
    color: var(--secondary-color);
}

.submit{
    text-align: center;
    text-decoration: none;
    background: var(--gradient-active-button);
    border-radius: var(--radius-button);
    border: 1px solid var(--secondary-color);
    padding: var(--spacing-1);
    color: white;
    font-weight: var(--font-weight-semibold);
}

.submit:not(:disabled):hover{
    box-shadow: var(--button-shadow);
}

.submit:not(:disabled):active{
    background: var(--gradient-pressed-button);
}

.submit:disabled{
    background: var(--gradient-disabled-button);
}


@media (min-width: 781px){
    .logo h1 br{
        display: none;
    }
}