:root{
    --radius-card: 0.5rem;
    --radius-button: 0.25rem;
    --radius-field: 0.25rem;

    --spacing-1: 0.25rem;
    --spacing-2: 0.5rem;
    --spacing-3: 0.75rem;
    --spacing-4: 1rem;
    --spacing-5: 1.5rem;
    --spacing-6: 2rem;
    --spacing-7: 3rem;

    --hero-overlap: clamp(-14px, -2.5vw, -20px);

    --primary-color: rgb(76, 88, 255);
    --secondary-color: rgb(154, 143, 255);
    --field-color: rgb(211, 211, 211);
    --dropdown-color: rgb(117, 117, 117);
    --errors-color: rgb(255, 0, 0);
    --navbar-button-color: rgba(11, 124, 39, 0.582);

    --user-bar-background: rgba(255, 255, 255, 0.15);
    --user-bar-blur: blur(4px);

    --card-background: hsla(0, 0%, 100%, 0.712); 

    --menu-button-background: rgba(136, 171, 247, 0.178);
    --button-shadow: 0 2px 10px hsla(241, 82%, 42%, 0.25);

    --gradient-active-button: linear-gradient( 
    to bottom, 
        var(--secondary-color) 0%, 
        rgb(101, 99, 253) 90%, 
        var(--primary-color) 100%
    );
    --gradient-pressed-button: linear-gradient(
        to top,
        var(--secondary-color) 0%, 
        rgb(101, 99, 253) 90%, 
        var(--primary-color) 100%
    );
    --gradient-disabled-button: linear-gradient(
        to bottom,
        var(--secondary-color),
        var(--secondary-color),
        var(--secondary-color)
    );

    --gradient-header: 
    linear-gradient(330deg,var(--secondary-color) 0%, rgb(101, 99, 253) 53%, var(--primary-color) 100%);

    --font-weight-medium: 500;
    --font-weight-semibold: 600;
}

header{
    background: var(--gradient-header);
}

.header-container{
    padding-left:1rem;
    padding-right:1rem;
}

.logo{
    display: flex;
    align-items: center;
    gap: var(--spacing-1);
    color: white;
    text-decoration: none;
}

a.logo:hover{
    opacity: 0.9;
}

.logo h1{
    margin: 0;
}

.open-menu{
    border: none;
    background: none;
}

.offcanvas{
    background: var(--gradient-header);
}

ul{
    list-style: none;
    padding: 0;
    margin: 0;
}

.user-bar{
    display: inline-flex;

    background: var(--user-bar-background);
    color: white;

    padding: var(--spacing-1) var(--spacing-1);
    border-radius: 0 0 var(--radius-card) 0;

    backdrop-filter: var(--user-bar-blur);
}

.user-bar-text{
    color: white
}

body{
    background-image: url(assets/images/background-image.jpg);
    font-family: "Poppins", sans-serif;
}

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100svh;
    margin: auto;
}

.homePage-menu {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    width: 100%;
}

.hero{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    padding: var(--spacing-6);
}

.hero_card{
    background-color: var(--card-background);
    max-width: 600px;
    padding: var(--spacing-5);
    border-radius: var(--radius-card);
}

.hero_card h1{
    color: var(--primary-color);
}

.hero_card p{
    text-align: justify;
}

.hero_card span{
    color: var(--primary-color);
}

.menu-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--card-background);
    max-width: 600px;
    padding: var(--spacing-5);
    border-radius: var(--radius-card);
    gap: var(--spacing-4);
}

.form-card{
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: var(--spacing-6);
    gap: var(--spacing-4);
    border-radius: 0 0 var(--radius-card) var(--radius-card);
}

.fields{
    display: flex;
    flex-direction: column;
    gap: var(--spacing-4);
}

.form-header{
    background-color: var(--primary-color);
    margin: 0;
    padding: var(--spacing-4);
    border-radius: var(--radius-card) var(--radius-card) 0 0;
    text-align: center;
    color: white;
}

.field-control{
    display: flex;
    position: relative;
    flex-direction: column;
    gap: var(--spacing-1);
}

.input-wrapper{
    position: relative;
    display: flex;
    flex-direction: row;
}

.input-symbol{
    padding: var(--spacing-2) var(--spacing-1);
    background-color: var(--secondary-color);
    border-radius: var(--radius-field) 0 0 var(--radius-field);
    text-align: center;
}

.field{
    border: 1px solid var(--field-color);
    padding: var(--spacing-2);
    border-radius: 0 var(--radius-field) var(--radius-field) 0;
    font-weight: var(--font-weight-semibold);
    width: 100%;
    box-sizing: border-box;
    padding-right: 36px;
}

.field:focus-visible{
    outline: none;
    border: 1px solid var(--secondary-color);
}

.validate-border{
    border: 1px solid var(--errors-color) !important;;
}

.validation-message{
    color: var(--errors-color);
    font-size: 0.65rem;
    text-align: right;
    font-style: italic;
    margin: 0;
}

.error-icon{
    position: absolute;
    height: 20px;
    width: 20px;
    left: 90%;
    top: 50%;
    transform: translateY(-50%);
    padding: 0;
    margin: 0;
    display: none;
}

.forwarding a{
    text-decoration: none;
    color: var(--primary-color);
}

.forwarding a:hover{
    color: var(--secondary-color);
}

.button-primary{
    text-align: center;
    text-decoration: none;
    background: var(--gradient-active-button);
    border-radius: var(--radius-button);
    border: 1px solid var(--secondary-color);
    padding: var(--spacing-1);
    color: white;
    font-weight: var(--font-weight-semibold);
}

.button-primary:not(:disabled):hover{
    box-shadow: var(--button-shadow);
}

.button-primary:not(:disabled):active{
    background: var(--gradient-pressed-button);
}

.button-primary:disabled{
    background: var(--gradient-disabled-button);
}

.button-outline{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    text-decoration: none;
    background: none;
    gap: var(--spacing-1);
    border-radius: var(--radius-button);
    border: 1px solid var(--primary-color);
    padding: var(--spacing-1);
    color: var(--primary-color);
    font-weight: var(--font-weight-semibold);
}

.button-outline:not(:disabled):hover{
    background: var(--secondary-color);
    color: white;
}

.navbar-button{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--spacing-1);
    text-align: center;
    text-decoration: none;
    background: none;
    border: none;
    color: white;
    padding: var(--spacing-1) var(--spacing-2);
    border-radius: var(--radius-button);
    white-space: nowrap;
}

.menu-list {
    width: 100%;
}

.menu-button{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: var(--spacing-1);
    text-decoration: none;
    padding: var(--spacing-1) var(--spacing-2);
    width: 100%;
    color: var(--accent-color);
    border: 1px solid var(--accent-color);
    border-radius: var(--radius-button);
}

.menu-button:hover {
    background: var(--background-color);
    box-shadow: var(--shadow-color);
}

.menu-button[data-tone="income"]   
{ --accent-color: #1f9d39; 
    --background-color: rgba(171, 247, 136, 0.178); 
    --shadow-color: 0 2px 10px hsla(118, 82%, 42%, 0.25);
}
.menu-button[data-tone="expense"]  
{ 
    --accent-color: #f05a28; 
    --background-color: rgba(247, 136, 136, 0.178);
    --shadow-color: 0 2px 10px hsla(0, 82%, 42%, 0.25);
}
.menu-button[data-tone="balance"]  
{ 
    --accent-color: #d89a00; 
    --background-color: rgba(247, 230, 136, 0.178);
    --shadow-color: 0 2px 10px hsla(54, 82%, 42%, 0.25);
}
.menu-button[data-tone="settings"] 
{ 
    --accent-color: #9d49ec; 
    --background-color: rgba(225, 136, 247, 0.178);
    --shadow-color: 0 2px 10px hsla(288, 82%, 42%, 0.25);
}

.menu-button span {
    display: flex;
    align-items: center;
}

.navbar-button:not(:disabled):hover{
    background: var(--navbar-button-color);
}

.select-field{
    text-decoration: none;
    background: none;
    gap: var(--spacing-1);
    border-radius: 0 var(--radius-button) var(--radius-button) 0;
    border: 1px solid var(--field-color);
    padding: var(--spacing-2);
    font-weight: var(--font-weight-semibold);

    cursor: pointer;
}

.select-field:invalid{
    color: var(--dropdown-color);
}

.select-field:not(:disabled):hover{
    border: 1px solid var(--secondary-color);
    color: var(--primary-color);
}



@media (min-width: 768px){
    .logo h1 br{
        display: none;
    }

    .nav-menu{
        display: flex;
        flex-direction: row;
        gap: var(--spacing-2);

        position: static;
        background: none;
        border: none;
        box-shadow: none;
        padding: 0;
        margin: 0;
    }

    .offcanvas{
        background: none;
    }

    .menu{
        width: 20%;
        min-width: 400px;
    }

    .open-menu{
        display: none;
    }

    .header-container{
        padding-left: var(--spacing-6);
        padding-right: var(--spacing-6);
    }
}